<div class="flex flex-col justify-stretch gap-6">
  <div class="flex items-center">
    <div class="text-lg ">Manifests</div>
    <form method="post" action="" class="ms-auto flex items-center gap-2" enctype="multipart/form-data">
      <div class="w-32 flex-none">
        {{> inputs/number name="cost" label="Cost" sign="$" required=true }}
      </div>
      <div class="w-40 flex-none  self-stretch ">
        {{> inputs/file name="manifest" label="Manifest File" required=true }}
      </div>
      <div class="w-32 flex-none">
        {{> inputs/submit label="Upload"}}
      </div>
    </form>
  </div>
</div>

<style>
  /*input {*/
  /*  margin-top: 1rem;*/
  /*}*/

  /*input::file-selector-button {*/
  /*  font-weight: bold;*/
  /*  color: dodgerblue;*/
  /*  padding: 0.5em;*/
  /*  border: thin solid grey;*/
  /*  border-radius: 3px;*/
  /*  display: none;*/
  /*}*/

</style>