<div class="flex flex-col justify-stretch gap-6">
  <div class="flex items-center justify-stretch gap-4">
    <h2 class="text-lg font-medium text-gray-800 dark:text-white">Manifests</h2>
    <span class="px-3 py-1 text-xs text-blue-600 bg-blue-100 rounded-full dark:bg-gray-800 dark:text-blue-400">240 vendors</span>
    <form method="post" action="" class="ms-auto flex items-center" >
      {{> inputs/number name="cost" label="Cost" sign="$" required=true }}
      <label type="file"
        class="flex items-center justify-center px-5 py-2  transition-colors duration-200  shrink-0 w-auto gap-x-2 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 019 9v.375M10.125 2.25A3.375 3.375 0 0113.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 013.375 3.375M9 15l2.25 2.25L15 12"/>
        </svg>
        <input type="file" accept="text/csv" class="" style=""/>
      </label>
      {{> inputs/submit label="Upload"}}
    </form>
  </div>
</div>

<style>
  input {
    margin-top: 1rem;
  }

  input::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    display: none;
  }

</style>