<div class="flex flex-col justify-stretch gap-6">
  <form action="/admin/walmart-lookup" method="get" class="flex items-center justify-stretch gap-4 ">
    <h2 class="flex-none text-lg font-medium text-gray-800 dark:text-white">New Product</h2>
    <div class="flex-1 relative ">
      <label for="inpProductSearch" class="absolute inset-y-0 left-0 flex items-center pl-3">
        <svg class="w-5 h-5 text-gray-400" viewBox="0 0 24 24" fill="none">
          <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </label>
      <input id="inpProductSearch" type="text" placeholder="Search Walmart Catalog" name="q"
             class="w-full py-1.5 pl-10 pr-4 text-gray-700 bg-white border rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring"/>
    </div>

  </form>
  <form action="" method="post" class="flex flex-col gap-4">
    <div class="flex gap-4 flex-col sm:flex-row">
      <label class="w-32 p-2 flex-none sm:text-right" for="inpProductName">Name:</label>
      <input id="inpProductName" type="text" placeholder="Enter Name" name="name" value="{{walmartProduct.name}}" pattern="^.{3,99}$" required
             class=" flex-1 p-2 text-gray-700 bg-white border rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring invalid:border-red-500"/>
    </div>
    <div class="flex gap-4 items-baseline flex-col sm:flex-row">
      <label class="w-32 p-2 flex-none sm:text-right " for="inpProductDescription">Description:</label>
      <textarea class="w-full flex-1 p-2 text-gray-700 bg-white border rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring"
                id="inpProductDescription" type="text" placeholder="Enter Name" name="name" rows="10">{{walmartProduct.description}}</textarea>
    </div>
    <div class="flex gap-2 items-center flex-wrap">
      {{#each walmartProduct.visuals}}
        <div class="relative flex-none">
          <label class="">
            <img src="{{this}}?odnHeight=180&odnWidth=180&odnBg=ffffff" alt="Product Image" class="w-32 aspect-square rounded-md"/>
            <input type="checkbox" value="{{this}}" name="visuals[]" class="absolute top-2 right-2"/>
          </label>
        </div>
      {{/each}}
      <div class="relative flex-none">
        <label class="w-32 aspect-square rounded-md flex items-center justify-center text-gray-700 bg-white border dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="w-10 h-10" fill="currentColor">
            <path d="M440-440ZM120-120q-33 0-56.5-23.5T40-200v-480q0-33 23.5-56.5T120-760h126l74-80h240v80H355l-73 80H120v480h640v-360h80v360q0 33-23.5 56.5T760-120H120Zm640-560v-80h-80v-80h80v-80h80v80h80v80h-80v80h-80ZM440-260q75 0 127.5-52.5T620-440q0-75-52.5-127.5T440-620q-75 0-127.5 52.5T260-440q0 75 52.5 127.5T440-260Zm0-80q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Z"/>
          </svg>
          <input type="file" class="hidden" accept="image/*"/>
        </label>
      </div>
    </div>
  </form>
</div>
