<div class="container mx-auto flex items-center justify-between gap-2">
  <a href="/" class="px-2 py-1 flex items-center justify-start gap-2 text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700">
    <img class="w-auto h-10 rounded-full" src="{{depot.logo}}" alt="{{depot.displayName}}">
    <div class="py-2 transition-colors duration-300 transform rounded-lg  md:mx-2 text-nowrap overflow-hidden">{{depot.displayName}}</div>
  </a>
  {{#if pageData}}
    <div class="ms-auto">
      {{>paginate}}
    </div>
  {{/if}}
</div>
