<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Example App</title>
  <link href="/styles/style.css" type="text/css" rel="stylesheet"/>
</head>
<body class="flex items-stretch h-screen text-gray-700  dark:text-gray-300 bg-gray-100 dark:bg-gray-900 ">
<menu class="basis-64 flex-none py-4 px-4 overflow-y-auto no-scrollbar border-e-2 border-gray-600" >
  {{>side}}
</menu>
<main class="flex-1 py-4 px-4 overflow-y-scroll h-full no-scrollbar">
  {{{body}}}
</main>
</body>
</html>