<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{depot.displayName}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/style.css" type="text/css" rel="stylesheet"/>
</head>
<body class="flex items-stretch h-screen bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-300">
<menu class="flex-none py-4 px-2  overflow-y-auto no-scrollbar border-e border-gray-600">
  {{>side}}
</menu>
<main class="p-4 container mx-auto overflow-y-scroll no-scrollbar">
  {{{body}}}
</main>
</body>
</html>