<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Example App</title>
  <link href="/styles/style.css" type="text/css" rel="stylesheet"/>
</head>
<body class="flex justify-center overflow-hidden dark:border-gray-800 bg-gray-100 border border-gray-100 rounded-2xl dark:bg-gray-900">
{{> side }}
<main class="min-h-screen flex flex-col items-center justify-center w-full">
  {{{body}}}
</main>
</body>
</html>