<button type="submit"
  class="w-full rounded-md flex p-2 items-center justify-center text-white border bg-blue-500 rounded-lghover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600">
  {{label}}
</button>