<div class="flex flex-col justify-stretch gap-6">
  <h2 class="flex-none text-lg font-medium text-gray-800 dark:text-white">New Product</h2>
  <form action="/admin/products/create/lookup" method="get" class="flex items-center justify-stretch gap-4 border-b-2 border-gray-500 pb-4">
    {{>inputs/text label="Search Walmart" value="" required=true name="q"}}
  </form>
  <form action="" method="post" class="grid gap-3 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">
    <input type="hidden" name="upc" value="{{walmartProduct.upc}}"/>
    <input type="hidden" name="walmartId" value="{{walmartProduct.walmartId}}"/>
    <div class="sm:col-span-2 md:col-span-3 lg:col-span-4 xl:col-span-5 2xl:col-span-6">
      {{>inputs/text label="Name" required=true pattern="^.{3,99}$" value=walmartProduct.name name="name"}}
    </div>
    {{#if walmartProduct.variants.length}}
      {{>inputs/select label="Variant" options=walmartProduct.variants name="variant"}}
    {{/if}}
    {{>inputs/text label="Variation Label" required=false value=walmartProduct.variationLabel name="variationLabel"}}
    {{>inputs/number label="Price" required=true value=walmartProduct.suggestedPrice name="price" sign="$"}}
    {{>inputs/select label="Category" options=categories name="categoryId" required=true}}
    {{>inputs/select label="Shelf" options=availableShelves name="shelfId" required=true}}
    <div class="sm:col-span-2 md:col-span-3 lg:col-span-4 xl:col-span-5 2xl:col-span-6">
      {{>inputs/textarea label="Description" value=walmartProduct.description name="description"}}
    </div>
    {{#each walmartProduct.visuals}}
      <label class="relative">
        <img src="{{this}}?odnHeight=200&odnWidth=200&odnBg=ffffff" alt="Product Image" class="aspect-square rounded-md w-full"/>
        <input type="checkbox" value="{{this}}" name="visuals[]" class="absolute top-2 right-2" checked/>
      </label>
    {{/each}}
    <label class="w-full aspect-square rounded-md flex p-2 items-center justify-center text-gray-700 bg-white border dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="w-10 h-10 " fill="currentColor">
        <path
          d="M440-440ZM120-120q-33 0-56.5-23.5T40-200v-480q0-33 23.5-56.5T120-760h126l74-80h240v80H355l-73 80H120v480h640v-360h80v360q0 33-23.5 56.5T760-120H120Zm640-560v-80h-80v-80h80v-80h80v80h80v80h-80v80h-80ZM440-260q75 0 127.5-52.5T620-440q0-75-52.5-127.5T440-620q-75 0-127.5 52.5T260-440q0 75 52.5 127.5T440-260Zm0-80q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Z"/>
      </svg>
      <input type="file" class="hidden" accept="image/*"/>
    </label>
    <div class="sm:col-span-2 md:col-span-3 lg:col-span-4 xl:col-span-5 2xl:col-span-6">
      {{>inputs/submit label="Save"}}
    </div>
  </form>
</div>
<script>
  const selectVariant = document.getElementById("selectvariant")
  if(selectVariant){
    selectVariant.addEventListener("change", (event) => {
      location.href='/admin/products/create?walmartId='+event.target.value
    })
  }
</script>